@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    The Species Selection software is designed to select species from a set of data for monitoring of habit health. 
    The algorithm is based upon papers X and Y. This website is designed to store results output by the species 
    selection program along with details of the input dataset and settings used in the application.
</p>