@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    University of East Anglia<br />
    Norwich Research Park<br />
    Norwich<br />
    NR4 7TJ<br />
    UK<br />
    <abbr title="Phone">Phone:</abbr>
    +44 (0)1603 456161
</address>

<address>
    <strong>Enquiries:</strong> <a href="mailto:simon.butler@uea.ac.uk">simon.butler@uea.ac.uk</a><br />
    <strong>Support:</strong> <a href="mailto:taoyang.wu@uea.ac.uk">taoyang.wu@uea.ac.uk</a>
</address>
