@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Species Selection</h2>
        <ul>
            <li>Sample pages using ASP.NET Core Razor Pages</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            <li>This webpage developed using <a href="https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/?view=aspnetcore-2.1">Razor Pages Movie tutorial</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Papers</h2>
        <ul>
            <li><a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0097217">A niche-based framework to assess current monitoring of European forest birds and guide indicator species.</a></li>
            <li><a href="https://besjournals.onlinelibrary.wiley.com/doi/abs/10.1111/j.2041-210X.2011.00173.x">An objective, niche-based approach to indicator species selection.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Download</h2>
        <ul>
            <li><a href="SpeciesSelection.jar">Species Selection 2.0</a></li>
            <li><a href="Readme_2.1.txt">Readme_2.1.txt</a></li>
        </ul>
    </div>
</div>
